<!DOCTYPE html>
<html>
<head>
	<link type="text/css", rel="stylesheet", href="/stylesheets/page.css"/>
	<title>Students Manager</title>
</head>
<body>
	<table class="header" width="100%" cellpadding="10">
	<col width= "20%">
	<col width= "75%">
	<col width= "5%"
	<tr><td>
	<a href="http://coe2043-team-13.appspot.com"><strong>Team 13</strong> Records Manager</a>
	</td><td align="right">
	<a>{{name}}</a></td>
	<td><a href="{{url|safe}}">{{urlname}}</a></td></tr>
	</table>
	<br>
	<table class="sidebar">
		<tr>
			<td>
				<center><strong>Records Manager</strong></center>
			</td>
		</tr>
		<ul>
		<tr>
			<td>
				<li><a href="/records">Home</a></li>
			</td>
		</tr>
		<tr>
			<td>
				<li><a href="/student/list"><strong>Students Manager</strong></a></li>
			</td>
		</tr>
		<tr>
			<td>
				<li><a href="/thesis/list">Thesis Manager</a></li>
			</td>
		</tr>
		<tr>
			<td>
				<li><a href="/adviser/list">Advisers Manager</a></li>
			</td>
		</tr>
		</ul>
	</table>
	{% for studen in all_studen %}
		{% if urlid|string == studen.key.id()|string %}
			<table class="mainbar">
			<tr><td>
			{{ studen.last }}, {{ studen.first }}<br>{{ studen.studno }}
			</td></tr>
			</table>
			<table class="listbar">
			<tr><td>
			<table style="width: 350px" class="center">
			<col width="150">
			<col width="200"
			<tr><td class="margin">
			Email Address:</td><td class="margin">{{ studen.emailadd }}
			</td></tr>
			</table>
			</td></tr>
			<tr><td><p align="right"><a class="btn" href="/student/edit/{{ studen.key.id() }}">Edit</a><a class="btn" href="/student/list">Back</a></p></td></tr>
			</table>
		{% endif %}
	{% endfor %}
</body>
</html>